<h1> Релизы </h1>
<p class="lede">
  Этот документ описывает значимые релизы ядра фреймворка и экосистемных пакетов, поддерживаемых основной командой AdonisJS.
</p>

<div class="table_container table_expanded">
  <table>
    <thead>
      <tr>
        <th>Пакет</th>
        <th>Изменения</th>
        <th style="width: 120px; text-align: right;">Выпущен</th>
      </tr>
    </thead>
    <tbody>
      @each(release in await getReleases())
        <tr>
          <th style="white-space: nowrap;">
            <a href="{{ release.release_notes_link }}" target="_blank">
              <code>{{ release.package }}&commat;{{ release.version }}</code>
            </a>
          </th>
          <td>
            {{{ release.description }}}.
          </td>
          <td style="text-align: right;">
            {{ dayjs(release.released_on).format('DD MMM YYYY') }}
          </td>
        </tr>
      @end
    </tbody>
  </table>
</div>
